<div class="container-fluid g-0">
  <h3 class="bg-info-subtle text-center py-1">
    Upcoming summer closure - August 6th to September 9th - <a data-bs-toggle="modal" data-bs-target="#bannerModel" href="#">details...</a>
  </h3>
</div>

<div class="modal" tabindex="-1" id="bannerModel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <img src="/img/heart_sunglasses.png" alt="heart sunglasses" class="mx-auto d-block" />
        <p class="text-center fs-3">
          Yale Jewelers Will Be Closed From Tuesday, August 6th to Monday, September 9th.
          <br />
          <br />
          We Will Open & Resume Regular Business Hours Tuesday, September 10th.
          <br />
          We Apologize For Any Inconvenience.
        </p>
        <h1 class="banner-gradient text-center">Happy Summmer!</h1>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn bg-info-subtle" data-bs-dismiss="modal">Okay!</button>
      </div>
    </div>
  </div>
</div>