<div class="container-fluid g-0">
  <h3 class="bg-info-subtle text-center py-1">
    <a data-bs-toggle="modal" data-bs-target="#bannerModel" href="#">Mother's Day Sale from now till May 11th</a>
  </h3>
</div>

<div class="modal hide" tabindex="-1" id="bannerModel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close float-end" data-bs-dismiss="modal" aria-label="Close"></button>
        <img src="img/mothers_day_2025.png" class="mx-auto img-fluid align-middle rounded" />
      </div>
    </div>
  </div>
</div>
